.clickable {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-underline-offset: 2px;

  &:hover {
    color: inherit !important;
    text-decoration: underline;
    text-decoration-color: currentColor;
  }
}
